{# templates/tienda/lista_productos.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <h2>{{ producto.name }}</h2>
                <p>{{ producto.description }}</p>
                <p>Precio: {{ producto.price }}</p>
                <a href="{{ path('app_detalles_producto', {'id': producto.id}) }}">Ver detalles</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
