{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-lg-6">
                <div class="card mt-5 mb-5" style="background-color: #87CEEB;"> <!-- Color celeste -->
                    <div class="card-body pt-4 pb-4">
                        <form class="form-signin" method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <h1 class="h3 mb-4 font-weight-normal text-center">Por favor, inicia sesión aquí</h1>
                            <label for="inputUsername">Usuario</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control mb-3" placeholder="Nombre de Usuario" autocomplete="username" required autofocus>
                            <label for="inputPassword" class="sr-only">Contraseña</label>
                            <input type="password" name="_password" id="inputPassword" class="form-control mb-3" placeholder="Contraseña" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                    value="{{ csrf_token('authenticate') }}"
                            >

                            <button class="btn btn-lg btn-danger btn-block" type="submit">Iniciar sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
