{{ form_start(form) }}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Formulario de Canción</h2>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.titulo) }}
                        {{ form_widget(form.titulo, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.autor) }}
                        {{ form_widget(form.autor, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.genero) }}
                        {{ form_widget(form.genero, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.foto) }}
                        {{ form_widget(form.foto, {'attr': {'class': 'form-control-file'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.audio) }}
                        {{ form_widget(form.audio, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                    {# 
                    <div class="form-group">
                        {{ form_label(form.playlists) }}
                        {{ form_widget(form.playlists, {'attr': {'class': 'form-control', 'multiple': 'multiple'}}) }}
                    </div> #}

                    <button type="submit" class="btn btn-primary btn-block">{{ button_label|default('Guardar') }}</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>