{% extends 'base.html.twig' %}

{% block title %}Registrarse{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-lg-6 col-md-8">
                <div class="card mt-5 mb-5" style="background-color: #87CEEB;"> <!-- Color celeste -->
                    <div class="card-body pt-3 pb-3">
                        <h1 class="h3 mb-4 font-weight-normal text-center">Por favor, regístrese aquí</h1>

                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}
                            <div class="form-group">
                                {{ form_widget(registrationForm.username, { 'label': false, 'attr': {'class': 'form-control mb-2', 'placeholder': 'Nombre de Usuario'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.email, { 'label': false, 'attr': {'class': 'form-control mb-2', 'placeholder': 'Correo Electrónico'} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.plainPassword, {
                                    'label': false,
                                    'attr': {'class': 'form-control mb-2', 'placeholder': 'Contraseña'}
                                }) }}
                            </div>
                            <div class="form-check mb-2">
                                {{ form_row(registrationForm.agreeTerms, { 'label': 'Aceptar términos', 'label_attr': {'class': 'form-check-label mr-4'}, 'attr': {'class': 'form-check-input'}}) }}
                            </div>

                            <button type="submit" class="btn btn-lg btn-danger btn-block">Registrarse</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
